header{
  height: 100px;
  font-family: "Cambria Math";
  text-align: center;
}

header h1{
  font-size: 5.3rem;
  margin: 0;
  display: inline;
}
header img {
  width: 100px;
  display: inline;
}

.filtercontainer {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.filterInput {
  border-radius: 10px;
  border: 0;
  height: 40px;
  width: 40%;
  font-size: larger;
}

.linkContainer{
  margin-top: 80px;
  display: flex;
  justify-content: end;
  font-family: "Arial Black";
  font-size: large;
}

body {
  background-color: darkolivegreen;
  color: ghostwhite;
}
a{
  color: white;
}

.receiptCardContainer{
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  justify-content: center;

}

.receiptCardTitleContainer {
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
}
.receiptCardTitleContainer > div {
  width: 50%;
}

.receiptCard{
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-flow: column nowrap;
  background-color: #607c3c;

}
.garbageIcon{
  position: absolute;
  right: 0;
  cursor: pointer;
}

.formfield{
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  justify-content: space-evenly;
}
.FormButtonContainer{
  justify-content: center !important;
}
.submitButton{
  width: 200px;
  height: 100px;
}

.formfield div{
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  justify-content: space-between;
}
.formfield div .inRow {
  display: flex;
  flex-flow: row nowrap;
}
.inRow div {
  gap: 5px;
  display: flex;
  flex-flow: row nowrap;
}
.formfield div .labelInputBox{
  display: flex;
  flex-flow: column nowrap;
  gap: 5px;
}

.foodImage{
  overflow: hidden;
  text-align: center;
}
.foodImage img{
  height: 100%;
}
.ingredientListContainer {
  text-align: center;
  color: darkgreen;
}
.ingredientList{
  cursor: crosshair;
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  background-color: lightgray;
  border-radius: 5px;
  padding: 5px;
}

.detailContainer{
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  font-family: "Arial Black";
}
.detailContainer img{
  width: 400px;
}

.detailContainer ul {
  margin-top: 5px;
}

.veganContainer{
  display: flex;
  gap: 100px;
}