.receiptCardContainer{
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
}

.receiptCardTitleContainer {
  display: flex;
  flex-flow: row nowrap;
  border: 1px solid grey;
  gap: 5px;
}
.receiptCardTitleContainer > div {
  width: 50%;
}

.receiptCard{
  width: 400px;
  height: 300px;
  border: 1px solid black;
  padding: 5px;
  display: flex;
  flex-flow: column nowrap;
}

.foodImage{
  overflow: hidden;
}
.foodImage img{
  width: 360px;

}
